<main>

  <h1>MOJIDAMA</h1>

  <h2>
    {{
      language === 'ja'
        ? '文字玉'
        : language === 'en'
          ? 'LETTER BALL'
          : '文字玉'
    }}
  </h2>


  <!-- =========================
       言語選択
  ========================== -->

  <div class="language">

    <button
      (click)="setLanguage('ja')">
      日本語
    </button>

    <button
      (click)="setLanguage('en')">
      English
    </button>

    <button
      (click)="setLanguage('zh')">
      中文
    </button>

  </div>


  <!-- =========================
       文字入力
  ========================== -->

  <div *ngIf="!generated">

    <input
      type="text"
      [(ngModel)]="text"
      maxlength="1500"
      [placeholder]="
        language === 'ja'
          ? '文字を入れてください'
          : language === 'en'
            ? 'Enter some text'
            : '请输入文字'
      "
    />

    <button (click)="generate()">

      {{
        language === 'ja'
          ? '文字玉を作る'
          : language === 'en'
            ? 'Make a Letter Ball'
            : '制作文字玉'
      }}

    </button>

  </div>


  <!-- =========================
       文字玉
  ========================== -->

  <canvas
    #canvas
    width="300"
    height="300">
  </canvas>


  <!-- =========================
       メインメニュー
  ========================== -->

  <div
    *ngIf="generated && submenu === 'none'">

    <p>

      {{
        language === 'ja'
          ? 'この玉をどうしますか？'
          : language === 'en'
            ? 'What will you do with this ball?'
            : '你要怎么处理这个文字玉？'
      }}

    </p>


    <div class="actions">

      <button
        *ngFor="let action of actions"
        (click)="chooseAction(action)">

        {{ getLabel(action) }}

      </button>

    </div>

  </div>


  <!-- =========================
       その他
  ========================== -->

  <div
    *ngIf="generated && submenu === 'other'">

    <p>

      {{
        language === 'ja'
          ? 'その他'
          : language === 'en'
            ? 'Other'
            : '其他'
      }}

    </p>


    <div class="actions">

      <button
        *ngFor="let action of otherActions"
        (click)="chooseOtherAction(action)">

        {{ getLabel(action) }}

      </button>

    </div>


    <button
      (click)="closeSubmenu()">

      {{
        language === 'ja'
          ? '戻る'
          : language === 'en'
            ? 'Back'
            : '返回'
      }}

    </button>

  </div>


  <!-- =========================
       遊ぶ
  ========================== -->

  <div
    *ngIf="generated && submenu === 'play'">

    <p>

      {{
        language === 'ja'
          ? 'どうやって遊びますか？'
          : language === 'en'
            ? 'How do you want to play?'
            : '要怎么玩？'
      }}

    </p>


    <div class="actions">

      <button
        *ngFor="let action of playActions"
        (click)="choosePlayAction(action)">

        {{ getLabel(action) }}

      </button>

    </div>


    <button
      (click)="closeSubmenu()">

      {{
        language === 'ja'
          ? '戻る'
          : language === 'en'
            ? 'Back'
            : '返回'
      }}

    </button>

  </div>


  <!-- =========================
       結果
  ========================== -->

  <p *ngIf="message">
    {{ message }}
  </p>

</main>